<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column">
    <div id="page-content">
      <%= render 'layouts/navigation' %>
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
      <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Jan Milosh", "http://janmilosh.com", class: "text-white" %></small>
      </div>
    </footer>
  </body>
</html>
